@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'DungGeunMo';
  background-color: #080080;
  color: #fff;
}

/* reset CSS */

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

button,
input {
  font-family: 'DungGeunMo';
}

input:hover,
input:focus,
button:hover,
button:focus {
  outline: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* highlight color */
.red {
  color: #ff0000;
}

.yellow {
  color: #faff00;
}
